body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Top page CSS */

.center-image {
    display: flex;
    justify-content: center;
    /* horizontally center */
    align-items: center;
    /* vertically center */
}

.iris {
    background-image: url('images/adventure.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.divider-separator {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 20 16' fill='none' stroke='rgb(216, 184, 184)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cg transform='translate(-12.000000, 0)'%3E%3Cpath d='M28,0L10,18'/%3E%3Cpath d='M18,0L0,18'/%3E%3Cpath d='M48,0L30,18'/%3E%3Cpath d='M38,0L20,18'/%3E%3C/g%3E%3C/svg%3E");
    height: 13px;
}

.dividers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

.h2-description-normal {
    font-size: 19px !important;
}

.h2-description-small {
    font-size: 15px !important;
}

.wrapper-content {
    padding: 13px !important;
}

.p-subscribe-asking {
    font-size: 15px !important;
}

.input-to-blank {
    background-color: white;
}

/* END */

/* Content page CSS */

.small-image-in-card {
    width: 300px !important;
    height: 200px !important;
}

/* END */